{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

{% block nav %}
{% include "browser/browser.html.twig" %}
{% endblock nav %}
{% if is_granted('ROLE_ADMIN') %} 
<p>Welcome {{ app.user.email }}</p>

{% elseif is_granted('ROLE_USER') %}   
<p>Welcome {{ app.user.firstname }}</p>

{% else %}
<p>Welcome Anonymous</p>

{% endif %}

{% endblock %}
