{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

{% block nav %}
{% include "browser/browser.html.twig" %}
{% endblock nav %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %} 
<p>Welcome {{ app.user.firstname }}</p>
{% else %}   
<p>Welcome Anonymous</p>
{% endif %}

{% endblock %}
