{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
    {% block body %}
        <div class="container mt-2 mb-3">
            <table class="bordered striped centered highlight">
                <thead>
                <tr class="">
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Moyenne score</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for conference in conferences %}
                    <tr>
                        <td>{{ conference.id }}</td>
                        <td>{{ conference.title }}</td>
                        <td>{% for i in 1..conference.score_avg %}⭐{% endfor %}</td>
                        <td><b>{{ conference.score_avg|round(1, 'floor') }}/5</b></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
